merged_mm10_TS_active_promoters/
merged_mm10_TS_strong_enhancers/
mm10_TS_active_promoters/
mm10_TS_strong_enhancers/
genomes
genome
genome_sizes
Chipseq_enrichment/
TS_active_promoters/
TS_strong_enhancers/
motif_collection/
motif_thresholds/
*.tsv
*.fa
*.gz
genomes
gtrd/
gtrd_old/
liftOverChains
sites/

